rect.button.on {
	y: 20;
	width: 20 ;
	stroke: lightgrey;
	stroke-width: 4;
}

rect.button.off {
	y: 20;
	width: 20 ;
	stroke: lightgrey;
	stroke-width: 4;
	fill: white;
}

rect.cob {
	fill: brown;
}

rect.no2b {
	fill: #ef8a62;
}

rect.so2b {
	fill: black;
}

rect.o3b {
	fill: darkgrey;
}

rect#co_on {
	fill: brown;
}

rect#no2_on {
	fill: #ef8a62;
}

rect#so2_on {
	fill: black;
}

rect#o3_on {
	fill: darkgrey;
}

